#registry=http://nexus.infra.ahotels.tech/repository/npm-taobao/
# registry=https://registry.npm.taobao.org/
#registry=http://nexus.infra.ahotels.tech/repository/npm-repo-proxy/
registry=https://registry.npmjs.org/
# registry=http://nexus.ahotels.tech/repository/npm-group/
