/** 
 * login scss
*/

$bg: #ffffff;

.login-logo {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);

  img {
    display: block;
    margin-bottom: 19px;
  }

  .title {
    font-size: 28px;
    color: #343434;
    margin: 0 auto;
    text-align: center;
  }
}

.footer_img {
  width: 100%;
  height: 150px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: url('../../assets/img/footer_img.png') center no-repeat;
  background-size: cover;
}

.login-container,
.forget-password,
.revise-password {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $bg;

  .login-form,
  .forget-password-form,
  .revise-password-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 400px;
    max-width: 100%;
    margin: 230px auto 0;
    z-index: 1;
  }

  .form_title {
    font-size: 16px;
    color: #606266;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:before,
    &:after {
      content: "";
      height: 1px;
      width: 60px;
      background-color: #E3E7EE;
    }
  }
}
