@font-face {
  font-family: "iconfont"; /* Project id 2534642 */
  src: url('iconfont.woff2?t=1630994465917') format('woff2'),
       url('iconfont.woff?t=1630994465917') format('woff'),
       url('iconfont.ttf?t=1630994465917') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enn-zhongqi:before {
  content: "\e62a";
  font-size: 16px;
}

.icon-enn-laba:before {
  content: "\e63f";
}

.icon-enn-caozuoxitong:before {
  content: "\e608";
}

.icon-enn-jibenxinxi:before {
  content: "\ea66";
}

.icon-enn-000-wangluoshezhi-05:before {
  content: "\e643";
}

.icon-enn-peizhi:before {
  content: "\e87b";
}

.icon-enn-mysql:before {
  content: "\e682";
}

.icon-enn-redis:before {
  content: "\e619";
}

