.icon-operation:before {
  content: "\e604";
}

.icon-systemManage:before {
  content: "\e605";
}

.icon-projectRemould:before {
  content: "\e606";
}

.icon-hotelInfo:before {
  content: "\e607";
}

.icon-contractManage:before {
  content: "\e609";
}
